* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 49, 49);
    height: 600px;
    width: 400px;
    border-radius: 20px;
    padding: 1px;
    margin-top: 40px;
}

#display {
    display: flex;
    height: 25%;
    justify-content: end;
    align-items: end;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 65px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-right: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 75%;
    gap: 1px;
}

.line {
    flex-grow: 1;
    display: flex;
    gap: 1px;
}

button {
    flex-grow: 1;
    border: 0;
    width: 99px;
    background-color: rgb(141, 139, 139);
    color: white;
    font-size: 30px;
    border: 1px solid transparent; 
}

.topLine {
    background-color: rgb(97, 94, 94);
}

.rightColumn {
    background-color: orange;
}

#btn0 {
    border-bottom-left-radius: 18px;
    width: 50%;
}

.buttons .line .rightSide {
    display: flex;
    gap: 1px;
    width: 50%;
}

#equalityBtn {
    border-bottom-right-radius: 18px;
}